# ---- Packwiz / Downloads ----
*.jar
/cache/
/.packwiz-cache/

# ---- Runtime / Client Stuff ----
logs/
crash-reports/
screenshots/

# ---- World / Server ----
world/
saves/

# ---- IDE / OS ----
.idea/
.vscode/
.DS_Store
Thumbs.db

# ---- Executables ----
packwiz.exe

# ---- Local overrides ----
run/

# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack
